body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right,#b1befd,rgb(255, 196, 123));   
}
form#f1{
    border: 1px double #213A40; 
    background-color: #D9325E;
    padding: 2px;
    text-align:center;
     font-size: large; 
     font-family: Arial, Helvetica, sans-serif;
      border-radius: 5px;
      max-width: 700px;
      float: left;
      box-shadow: 10px 10px 10px #1b283898;
      width: max-content;
      
      
}
form#f2{
    border: 1px double #213A40; 
    background-color: #D9325E;
    padding: 2px;
    text-align:center;
     font-size: large; 
     font-family: Arial, Helvetica, sans-serif;
      border-radius: 5px;
      max-width: 700px;
      box-shadow: 10px 10px 10px #1b283898;
      float:right;
      width: max-content;
}
form#f3{
    border: 1px double #213A40; 
    background-color: #D9325E;
    padding: 2px;
    text-align:center;
     font-size: large; 
     font-family: Arial, Helvetica, sans-serif;
      border-radius: 5px;
      max-width: 600px;
      box-shadow: 10px 10px 10px #1b283898;
       margin: 0 auto;
      
}

div#certo{
    margin:0 auto;
   display: inline-flex;
}
h2#ad{
    background-color:  #213A40;
    font-weight: bold;
    color: white;
    text-align: center;
    width:100%;
    height: 30px;
    margin:0 auto;
    margin-top: 0px;
    font-size: 20px;
    border-radius: 0px;
    box-shadow: none;
   
}

 a{
    color: white;
    text-decoration: none;
}

header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D9325E;
    border-radius: 5px;
    margin-top: 10px;
    
}
.logo img{
    width: 50%;
    padding-top: 20px;
    margin-left: 340px;
}
.navegacao{
    overflow: hidden;
}
.navegacao a{
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    text-align: right;
    padding: 10px 28px;
    background-color: #213A40;
}
 
 h2{
    background-color:  #213A40;
    font-weight: bold;
    color: white;
    text-align: center;
    width:30%;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #1b283898;

 }
 h1{
    background-color:  #213A40;
    font-weight: bold;
    color: white;
    text-align: center;
    width:100%;
    height: 30px;
    margin:0 auto;
    margin-top: 0px;
    font-size: 30px;
    border-radius: 0px;
    box-shadow: none;
 }
 .pseudo:hover{
    background-color: linear-gradient(to right,#b1befd,rgb(255, 196, 123));
    border-radius: 5px;
    margin-block: 10px;
    margin-left: 10px;
    margin-right: 10px;
 } 
.pseudo2:hover{
        background-color: linear-gradient(to right,#b1befd,rgb(255, 196, 123));
        border-radius: 5px;
        margin-block: 10px;
        margin-left: 10px;
        margin-right: 10px;
 }
 .pseudo3:hover{
    background-color: linear-gradient(to right,#b1befd,rgb(255, 196, 123));
    border-radius: 5px;
    margin-block: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
button{
    text-decoration: none;
    color: white;
    background: #213A40;
    border-radius: 10px; 
    font-size: 20px; 
    border:rgba;
    margin: 10px;
}

button:hover{
    
    text-decoration: none;
   
    background-color: #5e7279;
}
button.b1{
    border: none;
    border-radius: 1px;
    background-color: #D9325E;
    width: 94%;
}
button.b1:hover{
    background-color: #5e7279;
}
button.segundo{
    text-decoration: none;
   
    background-color: #213A40;
}
button.terceiro{
    text-decoration: none;
   
    background-color: #213A40;
}
a.ex2:visited{
    color: white;
}

.botoes{
    display: none;
}
.pseudo:hover .botoes{
    display: block;
}
.botoes2{
    display: none;
}
.pseudo2:hover .botoes2{
    display: block;
}
.botoes3{
    display: none;
}
.pseudo3:hover .botoes2{
    display: block;
}


 @media screen and (max-width:800px){
    .pseudo, .primeiro{
        width: 100%;
        padding: 0px;
        margin: 30px;
        margin-left: 0px;
        margin-right: 0px;
        
    }
    .logo{
        width: 100%;
        padding-top: 0px;
        
        margin-left: 0px;
        align-items: center;
    }
    .logo img{
        width: 100%;
        padding-top: 12px;
        margin-left: 10px;
    }
}
